<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>2ez4MySWAG Timus Progress</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">  -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <!-- <link href="css/jumbotron-narrow.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/jumbotron-narrow.css">
    <style>
      .bgImg {
        background: url('https://c3.staticflickr.com/3/2852/11114091294_5f468f74d1_k.jpg')
      }
      .wrapper {
        background-color: white;
        padding: 10px;
        padding-bottom: 30px;
        width: 800px;
        margin: 0 auto

      }
    </style>
  </head>
  <body class="bgImg ">
    <div class="wrapper">
      <h1 class="h1 text-center">2ez4MySWAG Timus Progress</h1>
      <div class="container">
        {% block body %}{% end %}
      </div> <!-- /container -->
    </div>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
